{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'DiDiStoreApp/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'DiDiStoreApp/styles/animation.css' %}">
    <link rel="stylesheet" href="{% static 'DiDiStoreApp/styles/all.css' %}">
    <link rel="stylesheet" href="{% static 'DiDiStoreApp/styles/responsives.css' %}">
    
    <title>DiDi | {{title}}</title>
</head>
<body>
    <header class="header_navigation">
       <div class="container">
            <div class="header_wrapper">
                <div class="header__desktop-nav">
                    <nav class="header_nav">
                        <ul class="header_navigation_list left_side_navigation">
                            <li><a href="{% url 'home' %}"  class="naviagtion_links">Главная</a></li>
                            <li class="naviagtion_links" data-toggle-id="categories">Категории</li>
                            {% if request.user.is_authenticated %}
                                <li class="naviagtion_links" data-toggle-id="categories"><a style="color:white;" href="{% url 'account' %}">Мой Профиль</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    <a href="{% url 'home' %}" class="header_logo">DiDi</a>
                    <nav class="header_nav">
                        <ul class="header_navigation_list right_side_navigation">
                            <li class="search_line">
                                <i class="fa-solid fa-magnifying-glass" id="search_icon"></i>
                                <form action="{% url 'searches' %}" method="get" class="search_form">
                                    <input type="search" name="search" id="search" placeholder="Автор, назваие, ISBN" class="search_input">
                                    <input type="submit" value="поиск" class="search_submit">
                                </form>
                            </li>
                            <li>
                                <a href="{% url 'card_details' %}" class="naviagtion_links">
                                    <i class="fa-solid fa-bag-shopping "></i>
                                </a>
                            </li>
                            {% if not request.user.is_authenticated %}
                            <li><i class="fa-solid fa-user" data-toggle-id="registrations"></i></li>
                            {% endif %}
                          {% if request.user.is_authenticated %}
                            <li><a href="{% url 'exit' %}" style="color: white;" class="fa-solid fa-sign-out" data-toggle-id="registrations"></a></li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
                <div class="header__tablet-nav">
                    <nav class="header_nav">
                        <div class="header__nav-side">
                            <a href="{% url 'home' %}" class="header_logo">DiDi</a>
                            <div class="search_line">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <form action="#" method="post" class="search_form">
                                    <input type="search" name="search" id="search" placeholder="Автор, назваие, ISBN" class="search_input">
                                    <input type="submit" value="поиск" class="search_submit">
                                </form>
                            </div>      
                            <div class="header__burger-menu" data-toggle-id="overlay">
                                <span class="header__burger-menu-lines"></span>
                                <span class="header__burger-menu-lines"></span>
                                <span class="header__burger-menu-lines"></span>
                            </div>
                        </div>
                        <div class="background header__overlay" id="overlay" hidden>
                            <div class="container">
                                <p class="close_btn" data-toggle-id="overlay">Закрыть</p>
                                <ul class="overlay__list">
                                    <li class="overlay__links"><a href="{% url 'home' %}">Главная</a> </li>
                                    <li  class="overlay__links" data-toggle-id="categories">Категории</li>
                                    <li class="overlay__links"><a href="{% url 'card_details' %}">Корзина</a> </li>
                                    <li  class="overlay__links" data-toggle-id="registrations">Регистрация</li>
                                </ul>
                            </div>

                            
                        </div>
                    </nav>
                    
                </div>
            </div>
       </div>
    </header>
    <div class="container">
        <article class="background category_window" id = "categories" hidden>
            <div class="container">
                <div class="category_wrapper">
                    <p class="close_btn" data-toggle-id="categories">Закрыть</p>
                    <section class="category_section">
                        {% for j in category %}
                        <div class="categories">
                            <h2 class="category_title">{{ j.maincategory }}</h2>
                            <nav class="general_categories">
                                <a href="{% url 'show_category' j.id %}" class="category_links">{{ j.name }}</a>
                            </nav>
                        </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </article>
        <article class="background registration_window" id="registrations" hidden>
            <div class="registration_wrapper modal_window_wrapper">
                <p class="close_btn registartion_close_btn" data-toggle-id="registrations">Закрыть</p>
                <div class="sign_up">
                    <h2 class="registration_title">Регистрация</h2>
                    <form action="#" enctype="multipart/form-data" method="post" class="registration_forms">
                        {% csrf_token %}
                        <fieldset class="form_field">
                            <label for="nickname" class="registartion_input_titels">Псевдоним:</label>
                            {{ form.username }}
                        </fieldset>
                        <fieldset class="form_field">
                            <label for="name" class="registartion_input_titels">Имя:</label>
                                                        {{ form.first_name }}
                        </fieldset>
                          <fieldset class="form_field">
                            <label for="name" class="registartion_input_titels">Фамилия:</label>
                                                        {{ form.last_name }}
                        </fieldset>
                        <fieldset class="form_field">
                            <label for="email" class="registartion_input_titels">Почта:</label>
                            {{ form.email }}
                        </fieldset>
                        <fieldset class="form_field">
                            <label for="pass" class="registartion_input_titels">Пароль:</label>
                            {{ form.password }}
                        </fieldset>
                         <fieldset class="form_field">
                            <label for="name" class="registartion_input_titels">Фото:</label>
                                                        {{ form2.photo }}
                        </fieldset>
                         <fieldset class="form_field">
                            <label for="name" class="registartion_input_titels">Адрес:</label>
                                                        {{ form2.address }}
                        </fieldset>
                         <fieldset class="form_field">
                            <label for="name" class="registartion_input_titels">ЖСН:</label>
                                                        {{ form2.iin }}
                        </fieldset>
                         <fieldset class="form_field">
                            <label for="name" class="registartion_input_titels">Банковский счёт:</label>
                                                        {{ form2.bank_iin }}
                        </fieldset>
                        <fieldset class="form_field">
                            <label for="name" class="registartion_input_titels">CVV:</label>
                                                        {{ form2.cvv_iin }}
                        </fieldset>
                        <input type="submit" value="Регистрация" class="registration_inputs registartion_btn">
                    </form>
                </div>
                <div class="sign_in">
                    <h2 class="registration_title">Войти</h2>
                    <form action="#" method="post" class="registration_forms">
                    {% csrf_token %}
                        <fieldset class="form_field">
                            <label for="nickname" class="registartion_input_titels">Псевдоним:</label>
                            {{ form3.username }}
                        </fieldset>
                        <fieldset class="form_field">
                            <label for="pass" class="registartion_input_titels">Пароль:</label>
                            {{ form3.password }}
                        </fieldset>
                        <input type="submit" value="Войти" class="registration_inputs registartion_btn">
                    </form>
                </div>
                <div class="ch_reg_forms">
                    <button class="ch_registration_form" id="#sign_up">Регистрация</button>
                    <button class="ch_registration_form" id="#sign_in">Войти</button>
                </div>
            </div>
                     
        </article>

        {% block main %}
        {% endblock %}

        <footer class="footer">
            <div class="footer_wrapper">
                <section class="socialn_navigation footer_general_layout">  
                    <div class="payments_categories footer_general_layout">
                        <nav class="payments-info">
                            <h2 class="payments_categories_title">Покупка</h2>
                            <ul class="payment_list">
                                <li class="payments_categories_link"><a href="#">Способы оплаты</a></li>
                                <li class="payments_categories_link"><a href="#">Способы доставки</a></li>
                                <li class="payments_categories_link"><a href="#">Возврат и обмен</a></li>
                            </ul>
                        </nav>
                        <nav class="min_catregories">
                            <h2 class="payments_categories_title ">Каталог продукции</h2>
                            <ul class="min_category_list">
                                <li class="payments_categories_link"><a href="#">Фантастика, фентези, ужасы</a></li>
                                <li class="payments_categories_link"><a href="#">Книги для детей и родителей</a></li>
                                <li class="payments_categories_link"><a href="#">Научна литература</a></li>
                                <li class="payments_categories_link"><a href="#">Домоводство, Хозяйство</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="contacts_socialn">
                        <nav class="contacts">
                            <ul class="contact_list">
                                <li>телефон 1: 8 707 598 64 94</li>
                                <li>телефон 2: 8 707 598 94 44</li>
                                <li>г. Алматы, улица Пушкина, дом 35а</li>
                            </ul>
                        </nav> 
                        <nav class="social_networks ">
                            <ul class="socialn_list">
                                <li class="socialn_links" title="instagram"><a href="https://fontawesome.com/v5/icons/camera-polaroid?s=solid" target="_blank"><i class="fas fa-camera-retro"></i></a></li>
                                <li class="socialn_links" title="youtube"><a href="https://www.youtube.com/watch?v=XvJeAXOUjY4&t=8s" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                                <li class="socialn_links" title="twitter"><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                            </ul>
                        </nav>

                    </div>
                </section>
                <p class="copyright">copyright © 2022 all rights reserved by DiDi</p>
            </div>     
        </footer>
    </div>
    <script src="{% static 'DiDiStoreApp/js/animation.js' %}"></script>
</body>
</html>